body {
    background-color: black;
    color: white;
}

/* HEADER & NAVIGATION */

.header {
    display: block;
    width: 80%;
    margin: auto;
    background-color: darkslategrey;
}

.nav {
    display: inline-block;
    width: 100%;
    padding: 0.25rem;
    background-color: darkgrey;
}

    .nav a {
        display: inline-block;
        padding: 0.25rem;
        background-color: grey;
    }

.wrapper {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.25rem;
    background-color: darkslategrey;
}