body {
    background-color: black;
    color: white;
}

/* HEADER & NAVIGATION */

.header {
    display: block;
    width: 60%;
    margin: auto; 
    background-color: darkslategrey;
}

.nav {
    display: inline-block;
    width: 100%;
    background-color: darkgrey;
}

    .nav a {
        display: inline-block;
        padding: 0.5rem; padding-left: 2rem; padding-right: 2rem;
        background-color: grey;
        font-size: 1.5rem;
    }

    .nav a:hover {
        background-color: black;
    }

.wrapper {
    display: block;
    width: 60%; height: 100%;
    margin: auto; margin-top: 1rem; margin-bottom: 2rem;
    padding: 0.5rem; padding-top: 1rem; padding-bottom: 1rem;
    background-color: darkslategrey;
}