body {
    background-color: black;
    color: white;
}

/* HEADER & NAVIGATION */

.header {
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    background-color: darkslategrey;
}

.nav {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background-color: darkgrey;
}

.wrapper {
    display: block;
    width: 80%;
    margin: auto;
    padding: 1em;
}